/* Styling for mobile */
body {
  background-color: #090B1A;
  background-color: hsl(233, 47%, 7%);
  color: #FFFFFF;
  color: hsl(0, 0%, 100%);
  font-family: Inter, sans-serif;
  margin:0;
  padding: 1rem;
  text-align: center;
}

main {
  background: #1B1938;
  background: hsl(244, 38%, 16%);

}

h2 {
  color: #FFFFFF;
  color: hsla(0, 0%, 100%, 0.6);
}

p {
  color: #FFFFFF;
  color: hsla(0, 0%, 100%, 0.75);
  margin: 1.5rem;
}

.purple {
  color: #AA5CDB;
  color: hsl(277, 64%, 61%);
}
/* Styling the image */

img{
  height: 100%;
  object-fit: cover;
  opacity: 0.7;
  width:100%;
}
/* Try mix-blend-mode */
/* background: #AA5CDB;
background: hsl(277, 64%, 61%); */


/* Styling for larger screen sizes */
@media(min-width:90rem) {
  body {
    text-align: left;
  }

  .flex-grid {
    display: flex;
    flex-direction: row-reverse;
  }

  .col {
    flex: 50%;
  }
}
