/* Styling for mobile */
body {
    background-color: hsl(233, 47%, 7%)
    color: white;
    font-family: 'Inter', sans-serif;
}
h1{
    font-family: 'Lexend Deca', sans-serif;
}
picture{
url(images/image-header-mobile.jpg) no-repeat;    
}

.purple {
   color: hsl(277, 64%, 61%);
}


/*
 Styling for larger devices 
@media(min-width:40rem){
  body{
   background: url(images/image-header-desktop.jpg) no-repeat, black;
    color: white;
  }
}
*/